body {
    background-color: #f7fbfc;
}
hr {
    color: #d6e6f2;
    width: 3%;
    border-top: 5px dotted;
    border-left: none;
    border-bottom: none;
    border-right: none;
}
h1 {
    color: #4d6e94;
}
h3 {
    color: #4d6e94;
}